*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    margin: 0;
    padding: 0;
    background-color: burlywood;
    
    height: 100vh;
    overflow-x: hidden;
  }
  nav>ul>li:nth-child(3)>ul>.nav-item:first-child .nav-link {
    color: white;
}

nav>ul>li:nth-child(3)>ul>.nav-item:nth-child(5) .nav-link {
    color: chocolate;
}
  /* start main -----------------------------------------------------------------------------------------------*/
  main{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height:90vh ;
  }
  .center{
    display: flex;
    flex-flow:column wrap;
    justify-content: center;
    align-items:center;

    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
  }
  .center h1{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid chocolate;
    color: chocolate;
  }
  .center form{
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
  }
  form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
  }
  .txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: chocolate;
  }
  .txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
  }
  .txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: chocolate;
    transition: .5s;
  }
  .txt_field input:focus ~ label,
  .txt_field input:valid ~ label{
    top: -5px;
    color: chocolate;
  }
  .txt_field input:focus ~ span::before,
  .txt_field input:valid ~ span::before{
    width: 100%;
  }
  .pass{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
  }
  .pass:hover{
    text-decoration: underline;
  }
  input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: burlywood;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
  }
  input[type="submit"]:hover{
    border-color: burlywood;
    transition: .5s;
  }
  .signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
  }
  .signup_link a{
    color: chocolate;
    text-decoration: none;
  }
  .signup_link a:hover{
    text-decoration: underline;
  }
  /* and main  */
  /* responsive  */
  @media screen and (max-width:400px){
    .center{
        width:100%;
    }
    .center form{
        width:100%;
        padding: 0px 0px;
        margin:0;
    }
    form div{
        width:100%;
    }
  }