body{
    padding:0;
    margin:0;
}
/* start nav------------------------------------------------------------------------------------------------------- */
nav>ul{
    background-color: burlywood;
    display:flex;
    flex-direction: row;
    align-items: center;
    border-bottom-width:3px;
    border-bottom-style:solid;
    animation-name: border-color;
    animation-duration:2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite
}
@keyframes border-color{
    0%{
        border-color:burlywood
    }
    50%{
        border-color:chocolate;
    }
    100%{
        border-color:burlywood
    }
}
#search-input-nav{
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
}
nav>ul>li:nth-child(4){
    display: none;
}
.nav-link{
    text-decoration: none;
    color:white;
}
.nav-link:hover{
    color:chocolate;
}
#search-button{
     background-color: chocolate;
     color: burlywood;
     border:none;
}
/* responsive */
@mediA screen and (max-width:681px){
    nav>ul>li:nth-child(4){
        display: block;
    }
    nav>ul>li:nth-child(3){
        display: none;
    }
}
@media screen and (max-width:373px){
    nav>ul>li:nth-child(2){
        display:none;
    }
}