body{
    padding:0px;
    margin:0px;
}
/* start nav------------------------------------------------------------------------------------------------------- */
nav{
    margin: 0px;
    padding:0px;
}
nav>ul{
    margin-top: 0px;
    background-color: burlywood;
    display:flex;
    flex-direction: row;
    align-items: center;
    border-bottom-width:3px;
    border-bottom-style:solid;
    animation-name: border-color;
    animation-duration:2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite
}
@keyframes border-color{
    0%{
        border-color:burlywood
    }
    50%{
        border-color:chocolate;
    }
    100%{
        border-color:burlywood
    }
}
#search-input-nav{
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
    border-bottom-left-radius:50px;
    border-top-left-radius:50px;
    border-color: chocolate;
    border-width:2px;
    background-color: burlywood;
    color: chocolate;
    outline:none;
    box-shadow: 0px 0px 10px 1px chocolate inset;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation:input-search;
    animation-duration:1.5s;
    animation-timing-function: linear;
    animation-iteration-count:infinite;
}
#search-input-nav::placeholder{
    color: chocolate;
    animation:input-search;
    animation-duration:1.5s;
    animation-timing-function: linear;
    animation-iteration-count:infinite;
}
@keyframes input-search{
    0%{
        color:chocolate;
    }
   
    50%{
        color:rgba(210, 105, 30, 0.742);
    }
   
    100%{
        color:chocolate;
    }
}
#search-button{
     background-color: chocolate;
     color: burlywood;
     border:none;
     border-top-right-radius:50px;
    border-bottom-right-radius:50px;
}
nav>ul>li:nth-child(4){
    display: none;
}
.nav-link{
    text-decoration: none;
    color:white;

}
.nav-link:hover{
    color:chocolate;
}

#i-icons-list{
    background-color:chocolate;
    color:burlywood;
    border: none
}
.bi-person-circle{
    font-size: 15px;
    padding: 0;
    margin: 0;
}
/* responsive */
@mediA screen and (max-width:767px){
    nav>ul>li:nth-child(4){
        display: block;
    }
    nav>ul>li:nth-child(3){
        display: none;
    }
}
@media screen and (max-width:444px){
    nav>ul>li:nth-child(2){
        display:none;
    }
}